nav{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.nav-item{
    color: #274C5B;
}

.bi{
    color: white;
}
.search-bar{
    width: 100%;
    max-width: 300px;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 0px 10px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 12px 10px;
    color: rgba(0,0,0,.6);
}

::placeholder{
    color:rgba(0,0,0,.5);
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color:  #7EB693;
    cursor: pointer;
}

.bg-image {
    background-image: url('../images/eolico.png');
    background-size: cover;
    padding-top: 12%;
    padding-bottom: 12%;
}

.mask {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 2%;
    padding-bottom: 2%;
}

.titulo {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 55%;
    margin: auto;
}

footer.py-2 {
    background: #F9F8F8;
}

footer>h5,
p {
    font-family: 'Roboto', sans-serif;
    color: #525C60;
}

footer>h,
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #525C60;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 0.8rem;
    }

    footer>h5,
    p {
        font-size: 0.5rem;
        margin-bottom:0%;
    }

    footer>h,
    h5 {
        font-size: 0.5rem;
    }
}

@media (max-width: 575px) {
    .images {
        width: 40%;
        height: auto;
    }
}

@media (max-width: 1090px) {
    .nav-link{
        font-size: 0.8rem;
    }
}

@media (max-width: 992px) {
    .search-bar{
        margin: auto;
        width: 80%;
        max-width: 80%;
    }
}
