.container {
    background-image: url(https://dialogochino.net/es/clima-y-energia-es/46334-los-parques-eolicos-de-yucatan-benefician-a-las-grandes-empresas-y-pasan-por-alto-a-los-ciudadanos-locales/);
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
}

body{
    background-color: red;
}

